@charset "utf-8";

div.box{
	background:blue;
width:100px;
height:100px;
color:#fff;
}
/**demo tabs***/
#tabdemo{color:#fff;}
#tabdemo ul{margin:auto;padding:0;width:66%;}
#tabdemo ul li{list-style-type:none;display:inline-block;width:30%;margin-left:4px;margin-right:4px;}
#tabdemo ul li a{
	display:inline-block;
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
	background:#9C0;
	text-decoration:none;
	color:#FFF;
	}
#content1{width:100%;height:350px;background:#9C0;box-sizing:border-box;padding:10px;margin-bottom:10px;}
#content2{width:100%;height:350px;background:#9C0;box-sizing:border-box;padding:10px;margin-bottom:10px;}
#content3{width:100%;height:350px;background:#9C0;box-sizing:border-box;padding:10px;margin-bottom:10px;}